{% extends 'video_collection/base.html' %}

{% block content %}

<!-- Display all stored information about a video. -->
<h2>{{ video.name }}</h2>

<!-- Embed the video using the video ID. -->
<iframe width="560" height="315" src="https://youtube.com/embed/{{ video.video_id }}"></iframe>

{% comment %} shows notes if there are any {% endcomment %}
{% if video.notes %}
<p>{{ video.notes }}</p>
{% endif %}

<p><a href="{{ video.url }}">{{ video.url }}</a></p>

<p><a href="{% url 'video_list' %}">Back to video list</a></p>

{% endblock %}
